@import '../common/colors';
@import '../common/variables';

#board-container {
    background-color: $brand-color;
    margin: 0 auto;
    width: $board-size;
    border-radius: $border-radius * 2;
    padding: $gutter-size;

    .board {
        position: relative;
    }
}
