@import '../common/colors';
@import '../common/variables';

#board-container {
    background-color: $brand-color;
    border-radius: $border-radius * 2;
    padding: $gutter-size;

    .board {
        position: relative;
    }

    &.ended {
        opacity: .5;
        pointer-events: none;
    }
}
