@import '../common/colors';
@import '../common/variables';

#board {
    background-color: $brand-color;
    margin: 0 auto;
    width: $board-size;
    border-radius: $border-radius * 2;
    padding: $gutter-size;
    position: relative;
}
