@import '../common/colors';
@import '../common/variables';

.score {
    padding: $gutter-size;
    display: inline-block;
    background-color: $brand-color;
    color: $light-text-color;
    border-radius: $border-radius * 2;
    text-align: center;

    .value {
        font-size: $score-font-size;
    }
}
