@import '../common/colors';
@import '../common/variables';

#tiles {
    .tile {
        position: absolute;
        font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: $tile-font-size;
        font-weight: bold;
        line-height: $cell-size;
        width: $cell-size;
        height: $cell-size;
        text-align: center;
        background-color: $tile-color;
        display: inline-block;
        border-radius: $border-radius;

        &.tile-4 {
            background-color: $tile-4-color;
        }

        &.tile-8,
        &.tile-16,
        &.tile-32,
        &.tile-64 {
            color: $tile-light-color;
        }

        &.tile-8 {
            background-color: $tile-8-color;
        }

        &.tile-16 {
            background-color: $tile-16-color;
        }

        &.tile-32 {
            background-color: $tile-32-color;
        }

        &.tile-64 {
            background-color: $tile-64-color;
        }
    }

    .row-1 {
        &.column-1 {
            transform: translate(0, 0);
        }

        &.column-2 {
            transform: translate($column-2-left, 0);
        }

        &.column-3 {
            transform: translate($column-3-left, 0);
        }

        &.column-4 {
            transform: translate($column-4-left, 0);
        }
    }

    .row-2 {
        &.column-1 {
            transform: translate(0, $row-2-top);
        }

        &.column-2 {
            transform: translate($column-2-left, $row-2-top);
        }

        &.column-3 {
            transform: translate($column-3-left, $row-2-top);
        }

        &.column-4 {
            transform: translate($column-4-left, $row-2-top);
        }
    }

    .row-3 {
        &.column-1 {
            transform: translate(0, $row-3-top);
        }

        &.column-2 {
            transform: translate($column-2-left, $row-3-top);
        }

        &.column-3 {
            transform: translate($column-3-left, $row-3-top);
        }

        &.column-4 {
            transform: translate($column-4-left, $row-3-top);
        }
    }

    .row-4 {
        &.column-1 {
            transform: translate(0, $row-4-top);
        }

        &.column-2 {
            transform: translate($column-2-left, $row-4-top);
        }

        &.column-3 {
            transform: translate($column-3-left, $row-4-top);
        }

        &.column-4 {
            transform: translate($column-4-left, $row-4-top);
        }
    }
}
