@import "../App/styles/colors";
@import "../App/styles/variables";

#tiles {
  .tile {
    position: absolute;
    font-size: $tile-font-size;
    font-weight: bold;
    line-height: $cell-size;
    width: $cell-size;
    height: $cell-size;
    text-align: center;
    background-color: $tile-color;
    display: inline-block;
    border-radius: $border-radius;
    transition: all 0.5s ease;

    &.tile-4 {
      background-color: $tile-4-color;
    }

    &.tile-8,
    &.tile-16,
    &.tile-32,
    &.tile-64,
    &.tile-128,
    &.tile-256,
    &.tile-512,
    &.tile-1024,
    &.tile-2048,
    &.tile-super {
      color: $tile-light-color;
    }

    &.tile-128,
    &.tile-256,
    &.tile-512,
    &.tile-1024,
    &.tile-2048,
    &.tile-super {
      font-size: $tile-font-size--smaller;
    }

    &.tile-8 {
      background-color: $tile-8-color;
    }

    &.tile-16 {
      background-color: $tile-16-color;
    }

    &.tile-32 {
      background-color: $tile-32-color;
    }

    &.tile-64 {
      background-color: $tile-64-color;
    }

    &.tile-128 {
      background-color: $tile-128-color;
    }

    &.tile-256 {
      background-color: $tile-256-color;
    }

    &.tile-512 {
      background-color: $tile-512-color;
    }

    &.tile-1024 {
      background-color: $tile-1024-color;
    }

    &.tile-2048 {
      background-color: $tile-2048-color;
    }

    &.tile-super {
      background-color: $tile-super-color;
    }
  }
}
