@import "../App/styles/colors";
@import "../App/styles/variables";

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: $gutter-size;
}
