@import "../App/styles/colors";
@import "../App/styles/variables";

.game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: $brand-color;
  gap: $gutter-size;
}
